name: Build

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    name: Build and analyze
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./sonar-scanner-gradle/gradle-multimodule-coverage

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Shallow cloness should be disabled for a better relevancy of analysis
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'zulu' # Alternative distribution options are available.
      - name: Cache SonarQube packages
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
      - name: Cache Gradle packages
        uses: actions/cache@v4
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('./sonar-scanner-gradle/gradle-multimodule-coverage/**/*.gradle*') }}
          restore-keys: ${{ runner.os }}-gradle
      - name: Build and analyze
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        run: ./gradlew build sonar -debug --info

      - name: Upload Dependency TAR
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: dependency-files.tar.xz
          path: ".scannerwork/dependency-files.tar.xz"

      - name: Upload Dependency TAR
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: dependency-files.tar.xz
          path: ".build/sonar/dependency-files.tar.xz"